@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
.alg-main {
  font-family: "Open Sans","Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  box-sizing: border-box; }
  .alg-main *, .alg-main *:before, .alg-main *:after {
    box-sizing: inherit; }

.algolia-search_page_algolia-woocommerce #wpcontent {
  padding-left: 0; }

.algolia-search_page_algolia-woocommerce .notice, .algolia-search_page_algolia-woocommerce div.error, .algolia-search_page_algolia-woocommerce div.updated {
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.alg-wrap {
  position: relative; }

.alg-sidebar {
  left: 0;
  width: 250px;
  height: 100%;
  position: absolute;
  background-color: #181d2b;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 10; }
  .alg-sidebar .alg-sidebar__brand {
    padding: 1.25em 0.9375em 0.9375em 0.9375em;
    text-align: center; }
    .alg-sidebar .alg-sidebar__brand span {
      color: #96588a;
      font-size: 12px;
      font-weight: 600;
      position: absolute;
      width: 100%;
      text-align: left;
      left: 49%;
      top: 72%; }
    .alg-sidebar .alg-sidebar__brand .alg-sidebar__brandwrapper {
      position: relative; }
    .alg-sidebar .alg-sidebar__brand img {
      width: 70%; }
  .alg-sidebar .alg-sidebar__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    border-top: 1px solid #394566;
    border-bottom: 1px solid #394566; }
    .alg-sidebar .alg-sidebar__list .alg-sidebar__link {
      color: rgba(255, 255, 255, 0.7);
      position: relative;
      margin-bottom: 0; }
      .alg-sidebar .alg-sidebar__list .alg-sidebar__link:hover {
        color: white; }
      .alg-sidebar .alg-sidebar__list .alg-sidebar__link a:focus {
        outline: none; }
      .alg-sidebar .alg-sidebar__list .alg-sidebar__link:not(:last-child) {
        border-bottom: 1px solid #394566; }
    .alg-sidebar .alg-sidebar__list .alg-sidebar__state {
      position: absolute;
      right: 2.625em;
      font-size: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 600;
      color: #ff3067; }
      .alg-sidebar .alg-sidebar__list .alg-sidebar__state:after {
        right: -12px;
        top: 5px;
        width: 8px;
        height: 8px;
        content: "";
        position: absolute;
        border-radius: 100%;
        background-color: #ff3067; }
    .alg-sidebar .alg-sidebar__list .alg-sidebar__state--set {
      color: #13d783; }
      .alg-sidebar .alg-sidebar__list .alg-sidebar__state--set:after {
        background-color: #13d783; }
    .alg-sidebar .alg-sidebar__list .alg-sidebar__link--active {
      color: white; }
    .alg-sidebar .alg-sidebar__list a {
      display: block;
      color: inherit;
      font-size: 16px;
      text-decoration: none;
      padding: 1.5em 0.9375em 1.5em 1.25em; }

.alg-button {
  font-size: 14px;
  border: none;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  padding: 1.28571em 3.21429em;
  cursor: pointer; }
  .alg-button:focus {
    outline: none; }
  .alg-button--small {
    padding: 0.8125em 1.875em;
    font-size: 14px; }
  .alg-button--green {
    background-color: #13d783; }

.alg-main {
  color: #181d2b;
  position: relative; }
  .alg-main .alg-main__wrap {
    background-color: #FFF;
    padding: 3.75em 1.5625em 20.9375em 20.9375em; }
  .alg-main .alg-main__section--pages {
    text-align: center; }
    .alg-main .alg-main__section--pages .alg-main__header p {
      margin-bottom: 4.375em; }
    .alg-main .alg-main__section--pages .alg-main__container {
      margin-bottom: 4.1875em; }
  .alg-main .alg-main__section--zoning .alg-main__header p {
    margin: 0; }
  .alg-main .alg-main__section--zoning .alg-main__header .alg-button--green {
    margin: 2.4375em 0; }

.alg-main__chrome {
  margin-top: 1.5625em;
  box-shadow: 0 10px 20px rgba(24, 29, 43, 0.18);
  position: relative;
  overflow: hidden; }
  .alg-main__chrome .alg-main__chromeimage {
    width: 100%; }
  .alg-main__chrome .alg-main__iframe {
    width: 100%;
    height: auto;
    border: none;
    position: absolute;
    top: 82px;
    height: 100%; }

.alg-main__header {
  text-align: center; }
  .alg-main__header h1 {
    font-weight: 300;
    font-size: 36px;
    margin-top: 0;
    line-height: 1.25em; }
    .alg-main__header h1 + p {
      color: #7d8291;
      font-size: 18px;
      font-weight: 400; }

.alg-main__container {
  max-width: 1200px;
  margin: 0 auto; }
  .alg-main__container:after {
    content: "";
    display: block;
    clear: both; }

.alg-main__container--pages {
  text-align: center; }
  @supports (display: flex) {
    .alg-main__container--pages {
      display: flex;
      justify-content: space-between; } }
  @supports not (display: flex) {
    .alg-main__container--pages {
      display: table; } }

.alg-pageselect__gutter {
  display: inherit;
  width: 8%; }
  @supports not (display: flex) {
    .alg-pageselect__gutter {
      display: table-cell; } }

.alg-pageselect {
  width: 30%;
  padding: 2.6875em 2.9375em;
  box-shadow: 0 10px 20px rgba(24, 29, 43, 0.18);
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  position: relative; }
  @supports not (display: flex) {
    .alg-pageselect {
      display: table-cell; } }
  .alg-pageselect:before {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    content: ""; }
  @media (min-width: 960px) {
    .alg-pageselect {
      width: 50%; } }
  .alg-pageselect .alg-pageselect__icon {
    width: 50%; }
  .alg-pageselect svg {
    transform: translateY(2px);
    margin-right: 2px; }
    .alg-pageselect svg .checkmark__mark {
      opacity: 0; }
  .alg-pageselect--red input[type="checkbox"] {
    color: #ff3067; }
    .alg-pageselect--red input[type="checkbox"]:checked + label {
      background-color: #ff3067;
      color: white; }
      .alg-pageselect--red input[type="checkbox"]:checked + label .checkmark__mark {
        opacity: 1; }
  .alg-pageselect--red label {
    border-color: #ff3067;
    color: #ff3067; }
  .alg-pageselect--red:before {
    background-color: #ff3067; }
  .alg-pageselect--blue input[type="checkbox"] {
    color: #31c0f8; }
    .alg-pageselect--blue input[type="checkbox"]:checked + label {
      color: white;
      background-color: #31c0f8; }
      .alg-pageselect--blue input[type="checkbox"]:checked + label .checkmark__mark {
        opacity: 1; }
  .alg-pageselect--blue label {
    color: #31c0f8;
    border-color: #31c0f8; }
  .alg-pageselect--blue:before {
    background-color: #31c0f8; }
  .alg-pageselect--purple input[type="checkbox"] {
    color: #8022e1; }
    .alg-pageselect--purple input[type="checkbox"]:checked + label {
      color: white;
      background-color: #8022e1; }
      .alg-pageselect--purple input[type="checkbox"]:checked + label .checkmark__mark {
        opacity: 1; }
  .alg-pageselect--purple label {
    color: #8022e1;
    border-color: #8022e1; }
  .alg-pageselect--purple:before {
    background-color: #8022e1; }
  .alg-pageselect h2 {
    font-size: 24px;
    line-height: 1.25em;
    font-weight: 300; }
  .alg-pageselect p {
    font-size: 14px;
    line-height: 1.78571em;
    color: #7d8291;
    padding-bottom: 5.35714em;
    margin: 1em 0 0 0; }
  .alg-pageselect .alg-pageselect__button {
    position: absolute;
    bottom: 2.9375em;
    left: 0;
    width: 100%; }
  .alg-pageselect input[type="checkbox"] {
    display: none; }
  .alg-pageselect label {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    padding: 1.28571em 2.14286em;
    font-weight: 600;
    font-size: 14px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    transition: .2s; }

.alg-main__container--zoning .alg-zoning__container {
  position: relative;
  z-index: 10; }

.alg-main__container--zoning .alg-zoning__zoningtooltip {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer; }
  .alg-main__container--zoning .alg-zoning__zoningtooltip path {
    fill: rgba(0, 0, 0, 0.4); }
  .alg-main__container--zoning .alg-zoning__zoningtooltip svg:hover + .alg-zoning__tip {
    opacity: 1;
    transform: translate(0, 10px); }

.alg-main__container--zoning .alg-zoning__tip {
  padding: 0.9375em 0.9375em;
  font-size: 16px;
  color: white;
  background-color: #999999;
  border-radius: 4px;
  width: 200px;
  position: absolute;
  top: 100%;
  right: -5px;
  transform: translate(0, 30px);
  opacity: 0;
  transition: .25s; }
  .alg-main__container--zoning .alg-zoning__tip:hover {
    opacity: 1;
    transform: translate(0, 10px); }
  .alg-main__container--zoning .alg-zoning__tip:before {
    width: 20px;
    height: 20px;
    right: 5px;
    top: -19px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #999999;
    content: "";
    position: absolute; }
  .alg-main__container--zoning .alg-zoning__tip p {
    font-size: inherit;
    margin: 0; }

.alg-main__container--zoning .alg-zoninginput {
  width: 100%;
  color: #7b7b7b;
  font-size: 14px;
  font-weight: 600;
  padding: 1.07143em;
  border: 1px solid #c4c4c4; }
  .alg-main__container--zoning .alg-zoninginput:focus {
    outline: none; }

.alg-resultscontainer {
  max-width: 530px;
  margin: 0 auto;
  text-align: center; }
  .alg-resultscontainer .alg-hit.forcehover .alg-hit__ribbon {
    opacity: 0; }
  .alg-resultscontainer .alg-hit.forcehover .alg-hit__overlay {
    opacity: 1;
    pointer-events: auto; }
    .alg-resultscontainer .alg-hit.forcehover .alg-hit__overlay a {
      opacity: 1;
      transform: translateY(0); }
  .alg-resultscontainer .alg-hit.nohover .alg-hit__ribbon {
    opacity: 1; }
  .alg-resultscontainer .alg-hitwrapper {
    width: 46%;
    float: left; }
    .alg-resultscontainer .alg-hitwrapper:first-child {
      margin-right: 8%; }
    .alg-resultscontainer .alg-hitwrapper:nth-child(2) .alg-hit {
      box-shadow: 0 6px 20px rgba(24, 29, 43, 0.3); }
    .alg-resultscontainer .alg-hitwrapper .alg-hitwrapper__result {
      color: #7d8291;
      font-size: 12px;
      font-weight: 400;
      text-align: left; }
  .alg-resultscontainer .alg-comparison:after {
    content: "";
    display: block;
    clear: both; }
  .alg-resultscontainer .alg-resultcolors {
    margin: 2.625em 0 3.5625em 0; }
    .alg-resultscontainer .alg-resultcolors:after {
      content: "";
      display: block;
      clear: both; }
    .alg-resultscontainer .alg-resultcolors input[type="text"].wp-color-picker {
      font-size: 14px;
      font-weight: 600;
      width: 100%;
      padding: 0.65em 1.875em;
      color: #7b7b7b;
      float: left;
      background-color: #FFF; }
      .alg-resultscontainer .alg-resultcolors input[type="text"].wp-color-picker:focus {
        outline: none; }
    .alg-resultscontainer .alg-resultcolors input[type="button"].wp-picker-default {
      display: none !important; }
    .alg-resultscontainer .alg-resultcolors button {
      color: white;
      background-color: #5c5c5c;
      border: none;
      float: right;
      border-radius: 3px;
      font-weight: 600; }
      .alg-resultscontainer .alg-resultcolors button:focus {
        outline: none; }
    .alg-resultscontainer .alg-resultcolors .wp-picker-container {
      display: block;
      position: relative; }
      .alg-resultscontainer .alg-resultcolors .wp-picker-container .wp-picker-input-wrap {
        position: absolute; }
      .alg-resultscontainer .alg-resultcolors .wp-picker-container .wp-picker-holder {
        position: absolute;
        left: 0;
        top: 35px;
        opacity: 0;
        transform: translateY(15px);
        transition: .25s; }
      .alg-resultscontainer .alg-resultcolors .wp-picker-container .wp-picker-input-wrap {
        right: 0;
        opacity: 0;
        transition: .25s; }
      .alg-resultscontainer .alg-resultcolors .wp-picker-container.wp-picker-active .wp-picker-holder {
        opacity: 1;
        transform: translateY(0); }
      .alg-resultscontainer .alg-resultcolors .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
        opacity: 1; }
      .alg-resultscontainer .alg-resultcolors .wp-picker-container .wp-color-result {
        padding-left: 40px;
        box-shadow: none;
        border-radius: 0;
        height: auto;
        margin: 0;
        border: none;
        display: block;
        border: 1px solid #c4c4c4; }
        .alg-resultscontainer .alg-resultcolors .wp-picker-container .wp-color-result:after {
          padding: 0.625em 0.9375em;
          border-radius: 0;
          font-size: 14px;
          background-color: #FFF;
          border: none;
          text-align: left; }

.alg-hit {
  border: none;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  position: relative;
  text-align: center;
  box-shadow: 0 3px 10px rgba(24, 29, 43, 0.2);
  background: #FFF; }
  .alg-hit .alg-hit__content {
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    z-index: 1; }
  .alg-hit:before {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    background-color: transparent;
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 3px; }
  .alg-hit figure {
    height: 265px;
    margin: 0;
    position: relative;
    overflow: hidden; }
    .alg-hit figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-origin: 50% 50%;
      transition: 800ms ease; }
  .alg-hit .alg-hit__ribbon {
    position: absolute;
    top: 0;
    right: -50%;
    transform: translate(-1.25em, -0.625em) rotate(45deg);
    transform-origin: 50% 50%;
    background-color: #31c0f8;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    padding: 1.875em 0 0.3125em;
    transition: .3s ease; }
  .alg-hit .alg-hit__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    transition: .3s ease;
    /**
		 * @TODO -> Implement fallback to display table?
		 */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .alg-hit .alg-hit__overlay .alg-hit__actions {
      display: table-cell;
      vertical-align: middle; }
    .alg-hit .alg-hit__overlay a {
      display: inline-block;
      text-decoration: none;
      transition: opacity 300ms, transform 300ms;
      opacity: 0;
      padding: 0.8125em 0;
      width: 70%; }
    .alg-hit .alg-hit__overlay .alg-cta--transparent {
      color: white;
      border: 1px solid white;
      background-color: transparent;
      font-weight: 600;
      margin-bottom: 0.8125em;
      transform: translateY(25px); }
      .alg-hit .alg-hit__overlay .alg-cta--transparent:hover {
        background-color: rgba(255, 255, 255, 0.2); }
    .alg-hit .alg-hit__overlay .alg-cta--blue {
      color: white;
      border: 1px solid #31c0f8;
      background-color: #31c0f8;
      font-weight: 600;
      transform: translateY(25px); }
      .alg-hit .alg-hit__overlay .alg-cta--blue:hover {
        background-color: #4ac8f9; }
  .alg-hit .alg-hit__details {
    text-align: center;
    padding: 1.5625em 1.75em; }
    .alg-hit .alg-hit__details .alg-hit__title {
      color: #181d2b;
      font-size: 24px;
      font-weight: 300;
      margin: 0 0 0.625em 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
      .alg-hit .alg-hit__details .alg-hit__title a {
        color: inherit; }
        .alg-hit .alg-hit__details .alg-hit__title a:hover {
          color: inherit; }
        .alg-hit .alg-hit__details .alg-hit__title a em {
          border-radius: 2px;
          font-style: normal;
          color: #31c0f8;
          background-color: rgba(49, 192, 248, 0.2); }
    .alg-hit .alg-hit__details .alg-hit__description {
      color: #9fa5b8;
      font-size: 12px;
      font-weight: 600;
      margin: 0 0 0.625em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
      .alg-hit .alg-hit__details .alg-hit__description em {
        box-shadow: inset 0px -1px 0px 0px #31c0f8;
        font-style: normal; }
    .alg-hit .alg-hit__details .alg-hit__priceholder {
      margin: 0; }
    .alg-hit .alg-hit__details .alg-hit__previousprice {
      color: #181d2b;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: line-through;
      margin-right: 8px; }
    .alg-hit .alg-hit__details .alg-hit__currentprice {
      color: #31c0f8;
      font-size: 24px;
      font-weight: 600; }
    .alg-hit .alg-hit__details p {
      white-space: nowrap; }
  .alg-hit:hover:before {
    opacity: 1; }
  .alg-hit:hover img {
    transition: 10s cubic-bezier(0.04, 0.74, 0, 1);
    transform: scale(1.1); }
  .alg-hit:hover .alg-hit__ribbon {
    opacity: 0; }
  .alg-hit:hover .alg-hit__overlay {
    opacity: 1;
    pointer-events: auto; }
    .alg-hit:hover .alg-hit__overlay a {
      opacity: 1;
      transform: translateY(0); }
