.algolia-selector {
    -webkit-box-shadow:inset 0px 0px 0px 3px #46AEDA !important;
    -moz-box-shadow:inset 0px 0px 0px 3px #46AEDA !important;
    box-shadow:inset 0px 0px 0px 3px #46AEDA !important;
    cursor: pointer !important;
}

.algolia-active-selector {
    -webkit-box-shadow:inset 0px 0px 0px 3px #46AEDA !important;
    -moz-box-shadow:inset 0px 0px 0px 3px #46AEDA !important;
    box-shadow:inset 0px 0px 0px 3px #46AEDA !important;
    background-color: rgba(70, 174, 218, 0.3) !important;
    background-image: none !important;

}


div, main, section, article, aside, header, nav {
    margin-top: 30px !important;
}
