.algolia-selector {
    -webkit-box-shadow:inset 0px 0px 0px 3px #46AEDA;
    -moz-box-shadow:inset 0px 0px 0px 3px #46AEDA;
    box-shadow:inset 0px 0px 0px 3px #46AEDA;

    cursor: pointer;
}

.algolia-active-selector {
    -webkit-box-shadow:inset 0px 0px 0px 3px #46AEDA;
    -moz-box-shadow:inset 0px 0px 0px 3px #46AEDA;
    box-shadow:inset 0px 0px 0px 3px #46AEDA;
    background-color: rgba(70, 174, 218, 0.3);
}
