.ais-current-refined-values {
  margin-bottom: 1em;
}

.ais-current-refined-values--link {

  &:active {
    transform:scale(.96);
  }
}
.ais-current-refined-values--item {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 7px;
  position: relative;

  svg {
    position: absolute;
    right: 12px;
    top:50%;
    transform:translate(0,-50%);
    width: 10px;
    height: 10px;  
  }

  a {
    color: #FFF;
    background: $blue;
    border-radius: 100px;
    display: block;
    padding: 0 30px 0 15px;
    line-height: 26px;
    font-size: 12px;

    &:hover {
      color: #FFF;
    }
  }

  .ais-current-refined-values--count {
    display: none;
  }
}
.ais-current-refined-values--clear-all{
  color: #55606e;
  font-size: 14px;
  line-height: 26px;
}

.ais-current-refined-values--list,
.ais-current-refined-values--clear-all {
  display: inline-block;
}
