#ais-wrapper {
  font-family: "Open Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;

  @supports (display: flex) {
    display: flex;

    #ais-facets {
    	width:30%;
    }
    #ais-main {
    	width:100%;
    }

    .ais-hits {
      overflow: auto;
      zoom:1;
    }
  }

  @supports not(display:flex) {
		overflow: auto;
    zoom: 1;

		#ais-facets {
			float: left;
			width: 30%;

		}
		#ais-main {
			float: left;
			width: 70%;

			@media (max-width:768px) {
				width: 100%;
			}

      .ais-hits {
        overflow: auto;
        zoom: 1;
      }
		}
  }
}

.alg-primary-color {
  color: $blue;
}

