#ais-wrapper {
	font-family: "Open Sans", sans-serif;
	max-width:1440px;
	margin:0 auto;
	padding-top: 20px;

	display: flex;

	.ais-hits {
		display: flex;
		flex-wrap: wrap;
	}
}

.alg-primary-color{
	color: $blue;
}
