
$normal : "alg-hits--n-col";
$gridColumns: 5;

$mobileBreakpoint: (0, 550px, "xs", "alg-container--xs");
$smallBreakpoint: (550px, 768px, "sm", "alg-container--sm");
$mediumBreakpoint: (768px, 992px, "md", "alg-container--md");
$largeBreakpoint: (992px, 1240px, "lg", "alg-container--lg");
$XlargeBreakpoint: (1240px, 0, "xl", "alg-container--xl");

$layoutMap : (
	$mobileBreakpoint, 
	$smallBreakpoint, 
	$mediumBreakpoint, 
	$largeBreakpoint, 
	$XlargeBreakpoint
);


@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@mixin breakpoint($min,$max){
	@if $min == 0 {
		@media (max-width: $max) { @content ; }
	} @else if $max == 0 {
		@media (min-width: $min) { @content ; }
	} @else {
		@media (min-width:$min) and (max-width: $max) { @content ; }
	}
}

@function getItemWidth($items, $gutter){
	@if $items == 1{
		@return 100;
	} @else {
		@return (100 - ($items * $gutter)) / $items;
	}
}

@function getPreciseGutter($items,$gutter) {
	@if($items > 2){
		@return (100 - (getItemWidth($items, $gutter) * $items)) / ($items - 1);
	} @else {
		@return 100 - (getItemWidth($items, $gutter) * $items);
	}
}

//---------------------------
// 	Generate breakpoint --n-column-<breakpoint> clases
//---------------------------
@for $i from 1 through length($layoutMap) {
  $map: nth($layoutMap, $i);

	.alg-show-on-#{nth($map,3)} {
		display: none !important;
	}

	// @include breakpoint(nth($map,1),nth($map,2)) {
	.#{nth($map,4)} {
		@for $j from 1 through $gridColumns {

		.alg-hide-on-#{nth($map,3)} {
			display: none;
		}

		.alg-show-on-#{nth($map,3)} {
			display: initial !important;
		}

		.#{str-replace($normal, "--n-col", "--#{$j}-col-#{nth($map,3)}")} {

				.ais-hits--item {
					float: left;
					width: getItemWidth($j, 2)#{"%"};
					margin-right: getPreciseGutter($j, 2)#{"%"};
					@if $j > 1 {
						margin-bottom: getPreciseGutter($j, 2)#{"%"};
					} @else {
						margin-bottom: 15px;
					}

					&:nth-child(#{$j}n) {
						margin-right: 0;
					}
				}
			}
		}
	}
	// }
}

@mixin smallHit(){
	.alg-hit{
		figure{
			height:185px;
		}

		@include component('hit', 'details') {
			padding: em(10) em(15);
		}

		@include component('hit', 'title') {
			font-size: 20px;
			margin: 0 0 em(5,20) 0;
		}

		@include component('hit', 'description') {
			margin: 0;
		}

		@include component('hit', 'ribbon') {
			font-size: 12px;
		}
	}
}

@include breakpoint(nth($mobileBreakpoint, 1), nth($mobileBreakpoint, 2)) {

	@include smallHit();

	#algolia-search-box{
	 	input {
			font-size: 16px;
			line-height: 36px;
			padding: 10px 0 10px 50px
		}

		.search-icon, .clear-search-icon {
			width:20px;
			height: 20px;
		}

		.search-icon {
			left: 15px;
		}

		.clear-search-icon {
			right: 15px;
		}
	}



	.algolia-only-mobile {
		display: initial !important;
	}

	.algolia-filters {
		width:50%;
		float: left;

		button, select {
			width: 100%;
		}
	}
}


