@include component('hit') {
	border:none;
	border-radius: 3px;
	text-align: center;
	color:white;
	font-family: "Open Sans", sans-serif;
	position: relative;
	text-align: center;
	background: #FFF;
	box-shadow: 0px 3px 10px 0px rgba(24, 29, 43, 0.2);

	@include component('hit', 'content') {
		border-radius: 3px;
		overflow:hidden;
		position: relative;
		z-index: 1;
	}

	&:before {
		left: 0;
		top: 0;
		position: absolute;
		width:100%;
		height:100%;
		content:"";
		opacity:0;
		background-color: transparent;
		transition: all 0.7s cubic-bezier(.25,.8,.25,1);
		box-shadow: 0px 6px 20px 0px rgba(24, 29, 43, 0.3);
		border-radius: 3px;
	}
	
	figure {
		height:265px;
		margin:0;
		padding:0;
		position: relative;
		overflow:hidden;

		img {
			margin:0;
			padding:0;
			width:100%;
			height:100%;
			object-fit: cover;
			transform-origin: 50% 50%;
			transition: 800ms ease;
		}
	}

	@include component('hit', 'ribbon') {
		position: absolute;
		top:0;
		right: -50%;
		width:100%;
		font-size:16px;
		font-weight: 600;
		padding: em(30) 0 em(5);
		transition:.3s ease;
		transform: translate(em(-20),em(-10)) rotate(45deg);
		transform-origin: 50% 50%;
		background-color: $blue;
		will-change:transform;
	}

	@include component('hit', 'overlay') {
		position: absolute;
		width:100%;
		height:100%;
		left: 0;
		top: 0;
		opacity:0;
		background-color: rgba(0,0,0,0.4);
		pointer-events:none;
		transition: .3s ease;

		@supports (display:flex){
			display: flex;
			align-items:center;
			justify-content: center;
			flex-direction: column;
		}

		@supports not(display:flex){
			display: table;
		}

		@include component('hit', 'actions'){
			width:100%;

			@supports not(display:flex){
				display: table-cell;
				vertical-align: middle;
			}
		}

		a {
			display: inline-block;
			text-decoration: none;
			transition: opacity 300ms, transform 300ms;
			opacity:0;
			padding: em(13) 0;
			width:70%;
		}

		.alg-cta--transparent {
			color:white;
			border:1px solid white;
			background-color: transparent;
			font-weight: 600;
			margin-bottom:em(13);
			transform:translateY(25px);

			&:hover {
				background-color: rgba(white,.2);
			}
		}

		.alg-cta--blue {
			color:white;
			border:1px solid $blue;
			background-color: $blue;
			font-weight: 600;
			transform:translateY(25px);

			&:hover {
				background-color: lighten($blue,5%);
			}
		}
	}

	@include component('hit','details') {
		text-align: center;
		padding: em(25) em(28);
		
		@include component('hit','title') {
			color: $font-dark;
			font-size: 20px;
			font-weight: 300;
			line-height: em(34,20);
			padding:0;
			
			a{
				margin:0;
				padding:0;
				font-size:20px;
				line-height: 120%;
				font-weight: 300;
				color:inherit;
				display: inline-block;
				height: 2.4em;
				overflow:hidden;

				&:hover {
					color: inherit;
				}

				em {
					border-radius:2px;
					font-style: normal;
					color:$blue;
					background-color: rgba($blue,.2);
				}
			}
		}

		@include component('hit','description') {
			color: #9fa5b8;
			font-size: 12px;
			font-weight: 600;
			padding:0;
			line-height: 100%;
			margin: 0 0 em(15,24);
			@include preventFontBreak();

			em {
				box-shadow: inset 0px -1px 0px 0px $blue;
				font-style: normal;
				line-height: initial;
			}
		}

		@include component('hit','priceholder') {
			margin: em(14) 0 0 0;
			padding: 0;
		}

		@include component('hit','previousprice') {
			color: $font-dark;
			font-size: 14px;
			font-weight: 400;
			line-height: 100%;
			margin:0 8px 0 0;
			padding:0;
			text-decoration: line-through;

		}

		@include component('hit','currentprice') {
			color: #31c0f8;
			font-size: 24px;
			font-weight: 600;
			line-height: 100%;
			margin:0;
			padding:0;
		}

		p {
			white-space: nowrap;
		}
	}

	//---------------------------
	//	On hover styles
	//---------------------------
	&:hover{

		&:before {
			opacity:1;
		}

		img{
			transition: 10s cubic-bezier(.04,.74,0,1);
			transform:scale(1.1);
		}

		@include component('hit', 'ribbon') {
			opacity:0;
		}

		@include component('hit', 'overlay') {
			opacity: 1;
			pointer-events: auto;

			a {
				opacity:1;
				transform:translateY(0);	
			}
		}
	}
}
