#ais-wrapper {
  padding: 0 20px;

}

.site{
	margin: 0 !important;
}


$layoutMap : (
	('--1-column', 1, 0),
	('--2-column', 2, 2),
	('--3-column', 3, 2),
	('--4-column', 4, 2)
);

@function getItemWidth($items, $gutter){
	@return (100 - ($items * $gutter)) / $items;
}

@function getPreciseGutter($items,$gutter){
	@if($items > 2){
		@return (100 - (getItemWidth($items, $gutter) * $items)) / ($items - 1);
	} @else {
		@return 100 - (getItemWidth($items, $gutter) * $items);
	}
}

@each $layout in $layoutMap {
	#ais-wrapper{
		display: flex;

		.ais-hits {
			// display: flex;
			// flex-wrap: wrap;
		}

		&.algolia-hits#{ nth($layout, 1) }{

			.ais-hits--item{
				float: left;
				width: getItemWidth( nth($layout, 2), nth($layout, 3))#{%};
				margin-right: getPreciseGutter( nth($layout, 2), nth($layout, 3))#{%};
				margin-bottom: getPreciseGutter( nth($layout, 2), nth($layout, 3))#{%};

				&:nth-child(#{nth($layout, 2)}n){
					margin-right: 0;
				}
			}
		}
	}
}

#ais-wrapper{
	
	//-----------------------------
	//	Display < 960 px
	//-----------------------------
	// &.algolia-hits--3-column {
	// 	display: flex;

	// 	#algolia-hits {
	// 	  .ais-hits {
	// 	    display: flex;
	// 	    flex-wrap: wrap;

	// 	    .ais-hits--item {
	// 	      width: 31%;
	// 	      padding-bottom: 3.5%;
	// 	      margin-right:3.5%;
	// 	      &:nth-child(3n){
	//       		margin-right:0;
	//       	}
	// 	    }
	// 	  }
	// 	}
	// }
	//-----------------------------
	//	Tablet display - 768px
	//-----------------------------
	// &.algolia-hits-4-column {
	// 	display: flex;

	// 	#algolia-hits {
	// 		.ais-hits {
	//     	display: flex;
	//     	flex-wrap: wrap;

	//     	.ais-hits--item {
	//       	flex: 0 1 22%;
	//       	margin-right: 4%;
	//       	padding-bottom: 3.5%;
	//       	&:nth-child(4n){
	//       		margin-right:0;
	//       	}
	//     	}
	//   	}
			
	// 		.alg-hit{
	// 			figure{
	// 				height:185px;
	// 			}

	// 			@include component('hit', 'details') {
	// 				padding: em(10) em(15);
	// 			}

	// 			@include component('hit', 'title') {
	// 				font-size: 20px;
	// 				margin: 0 0 em(5,20) 0;
	// 			}

	// 			@include component('hit', 'description') {
	// 				margin: 0;
	// 			}

	// 			@include component('hit', 'ribbon') {
	// 				font-size: 12px;
	// 			}
	// 		}
	// 	}
	// }
}
