
#ais-wrapper {
	display: flex;
}

#algolia-hits {

	.ais-hits {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.ais-hits--item {
			width:30%;
			padding-bottom: 5%;
		}
	}
}