
#algolia-pagination{
  text-align: center;
}

.ais-pagination {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  display: inline-block;

  .ais-pagination--item {
    display: inline-block;

    &__disabled {
      display:none;
    }

    &__active {

      .ais-pagination--link {
        background: $blue;
        color: #FFF;
        box-shadow: 0px 5px 16px 0px rgba(27, 54, 86, 0.15);
        
        &:hover {
          color:white;
        }
      }
    }
  }

  .ais-pagination--link {
    padding: 10px 18px;
    font-weight: normal;
    display: block;
    outline: none;
    border: none;
    color: #43454b;

    &:hover{
      color:$blue; 
    }
  }
}