.ais-hierarchical-menu--item {
  line-height: 25px;
  position: relative;

  &.ais-hierarchical-menu--item__active{
    
  	> div > a{
  		color:$blue;

  		.ais-hierarchical-menu--count{
				background-color: $blue;
				color:white;
  		}
  	}
  }
}

.ais-refinement-list--item {
  position: relative;
  line-height: 25px;

  input[type="checkbox"]{
    cursor: pointer;
  }

	&.ais-refinement-list--item__active {

		.ais-refinement-list--count {
			background-color: $blue;
			color:white;
		}
	}
}

.ais-show-more {
  font-size: 14px;
  cursor: pointer;
}

.ais-hierarchical-menu--link,
.ais-refinement-list--label{
  max-width: 80%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ais-refinement-list--count,
.ais-hierarchical-menu--count {
  position: absolute;
  right: 0;
  background-color: #F3F3F3;
  padding: 5px 8px;
  border-radius: 100px;
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
}

#algolia-sort-by,
#algolia-mobile-filters {
  display: inline-block;
}

.ais-sort-by-selector {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' id=\'Layer_1\' baseProfile=\'basic\' viewBox=\'0 20 400 400\'><style>.st0{fill:%23bcbcbc;}</style><path d=\'M314.3 201.4l-107.5 85.2c-2.4 1.9-5.8 1.9-8.3 0L91 201.4c-4.9-3.9-2.2-11.9 4.1-11.9h215.1c6.3 0 9.1 8 4.1 11.9z\' class=\'st0\'/></svg>");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 24px;
}
#algolia-mobile-filters button {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 400 400\'><style>.st0{fill:%23bcbcbc;}</style><path d=\'M376.5 46.1H29.7c-9.4 0-14.2 11.4-7.5 18.1L160.1 202c2 2 3.1 4.7 3.1 7.5v156.2c0 8.8 10.1 13.8 17.1 8.4l58.6-45.5c2.6-2 4.1-5.1 4.1-8.4V209.5c0-2.8 1.1-5.5 3.1-7.5L383.9 64.2c6.7-6.7 2-18.1-7.4-18.1z\' class=\'st0\'/></svg>");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 12px;
}

#algolia-mobile-filters button {
  background-color: #FFF;
  display: inline-block;
  border-width: 0;
  color: #43454b;
  font-size: 1rem;
  line-height: 1.75em;
  padding: em(10) em(42) em(10) em(15);
  box-shadow: 0px 2px 8px 0px rgba(27, 54, 86, 0.07);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  height:47px;

  &:focus{
    outline: none;
  }
}
.ais-sort-by-selector{
  background-color: #FFF;
  display: inline-block;
  border-width: 0;
  color: #43454b;
  font-size: 1rem;
  line-height: 1.75em;
  padding: em(10) em(15);
  box-shadow: 0px 2px 8px 0px rgba(27, 54, 86, 0.07);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  height:47px;

  &:focus{
    outline: none;
  }
}

$facetMenuColor: #ededed;
$listPadding: 8px 10px;
$caretPosition: 10px;
$listFontSize: 14px;

@mixin facetHeader(){
  padding: em(10);
  background-color: $facetMenuColor;
}

#ais-facets {
  width:30%;
  
  @media (max-width:768px) {
    right:0;
    top:0;
    width:60%;
    height:100%;
    opacity: 0;
    transform:translate(100%,0);
    transition: opacity 220ms 100ms ease, transform 300ms cubic-bezier(.4,0,0,1), outline 400ms ease;
    background-color: #FFF;
    position: fixed;
    z-index: 100;
    outline: 9999px solid rgba(0,0,0,0.5);

    &.ais-facets--visible {
      transform:translate(0,0);
      transition: outline 900ms ease, transform 400ms cubic-bezier(.4,0,0,1);
      opacity: 1;
    }

    .ais-facets__wrapper {
      height: 100%;
      position: relative;
      overflow:auto;
      
      .ais-facets {
        padding-right: 0;
        margin: 0;
      }

      .ais-hierarchical-menu--header{
        @include facetHeader();
      }

      .ais-hierarchical-menu--item {
        font-size: $listFontSize;
        max-height:42px;
        transition:1200ms linear;
        overflow:hidden; 

        > div > a {
          padding: $listPadding;
        }

        &__active {
          max-height: 400px;

          > div > a {
            color:black;

            .ais-hierarchical-menu--count {
              color: white;
              background-color: $blue;
            }
          }
        }

        .ais-hierarchical-menu--count {
          line-height: 14px;
          right: $caretPosition;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $facetMenuColor;
        }
      }

      .ais-hierarchical-menu--list__lvl1 {
        margin-left: 0;

        .ais-hierarchical-menu--item > div > a {
          background-color: lighten(black, 96%);
          
          .ais-hierarchical-menu--count {
            background-color: #FFF;
            color:#43454b;
          }
        }
        .ais-hierarchical-menu--item__active > div > a {

          .ais-hierarchical-menu--count {
            background-color: $blue;
            color:white;
          }
        }
      }

      .ais-hierarchical-menu--link {
        position: relative;
        max-width: 100%;
      }

      .ais-hierarchical-menu--list__lvl0{

      }
      .ais-refinement-list {

        .ais-refinement-list--header {
          @include facetHeader();
        }

        .ais-refinement-list--count {
          right:$caretPosition;
        }

        .ais-refinement-list--item{

          > div > label {
            font-size: $listFontSize;
            padding: $listPadding;
          }

          &__active {
            > div > label {
              color: #43454b;

              .ais-refinement-list--count {
                background-color: black;
                color:white;
              }
            }
          }
        }
      }

      .ais-range-slider--header{
        @include facetHeader();
      }

      .ais-range-slider--body{
        margin-top: 4px;
        padding: 0 40px 1px 40px;
      }
    }
  }
}


