.algolia-filters {

  &:not(:first-child) {
    padding-right: 10px;
  }
  &:first-child{
    padding-left: 10px;
  }
}

.ais-hierarchical-menu--item {
  line-height: 25px;
  position: relative;

  &.ais-hierarchical-menu--item__active{
  	> div > a{
  		color:$blue;

  		.ais-hierarchical-menu--count{
				background-color: $blue;
				color:white;
  		}
  	}
  }
}

.ais-refinement-list--item {
  position: relative;
  line-height: 25px;

	&.ais-refinement-list--item__active {
		.ais-refinement-list--count {
			background-color: $blue;
			color:white;
		}
	}
}

.ais-show-more {
  font-size: 14px;
  cursor: pointer;
}

.ais-hierarchical-menu--link,
.ais-refinement-list--label{
  max-width: 80%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ais-refinement-list--count,
.ais-hierarchical-menu--count {
  position: absolute;
  right: 0;
  background-color: #F3F3F3;
  padding: 5px 8px;
  border-radius: 100px;
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
}

#algolia-sort-by,
#algolia-mobile-filters {
  display: inline-block;
}

#algolia-selectors {
  overflow:auto;
}

.ais-sort-by-selector, #algolia-mobile-filters button {
  display: inline-block;
  border-width: 0;
  color: #43454b;
  background: #F9F9F9;
  font-size: 1rem;
  line-height: 1.75;
  padding: em(10) em(15);
  box-shadow: 0px 2px 8px 0px rgba(27, 54, 86, 0.07);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}
