#algolia-search-box{ 
  position: relative;

  input {
    width: 100%;
    line-height: 52px;
    font-size: 22px;
    padding: 10px 0 10px 70px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 8px 0px rgba(27, 54, 86, 0.07);
    transition: 300ms ease;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    height: inherit;
    margin: 0;

    @include placeholder(){
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
    }

    &:focus {
      box-shadow: 0px 5px 16px 0px rgba(27, 54, 86, 0.15);
    }
  }

  .search-icon, .clear-search-icon {
    position: absolute;
    left: 21px;
    top: 50%;
    fill: #46AEDA;
    width: 30px;
    height: 30px;
    transform:translate(0,-50%);
  }

  .clear-search-icon {
    display: none;
    left: inherit;
    right: 21px;
    cursor: pointer;
  }
}

.ais-search-box--powered-by {
  position: absolute;
  top: 80px;
  right: 0;
  font-size: 14px;
  text-align: right;
}

.ais-search-box--powered-by-link {
  display: inline-block;
  width: 45px;
  height: 16px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

#algolia-selectors {
  margin: em(10) 0;

  @include clearfix();

  #algolia-stats {
    line-height: 48px;
    float: left;
    font-size: 10px;
  }

  #algolia-sort-by {
    float: right;
  }
  
  @media (max-width:768px) {
    text-align: right;

    #algolia-stats {
      line-height: 26px;
      width: 100%;
    }

    #algolia-sort-by {
      float: left;
    }

    .algolia-filters {
      width: 50%;
      float: left;
      &:last-child{
        padding-left: 10px;
      }
      &:not(:last-child){
        padding-right: 10px;
      }

      button, select {
        width: 100%;
      }
    }
  }

  @media (max-width:420px) {

    button,select {
      font-size: 14px;
    }
  }

  .ais-sort-by-selector {
    background-color: #FFF;
    box-shadow: 0px 2px 7px 0px rgba(24, 29, 43, 0.1);
  }
}

