#algolia-search-box{ 
  position: relative;
  margin-bottom: em(20);

  input {
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    padding: 6px 0 6px 44px;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    background-color: #FFF;
    transition: 300ms ease;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    height: inherit;
    margin: 0;
    border:1px solid $element-border;

    @include placeholder(){
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: darken($element-border,10%);
    }
  }

  .search-icon, .clear-search-icon {
    position: absolute;
    left: 13px;
    top: 50%;
    fill: #46AEDA;
    width: 18px;
    height: 18px;
    transform:translate(0,-50%);
  }

  .clear-search-icon {
    display: none;
    left: inherit;
    right: 21px;
    cursor: pointer;
  }
}

.ais-search-box--powered-by {
  position: absolute;
  top: 80px;
  right: 0;
  font-size: 14px;
  text-align: right;
}

.ais-search-box--powered-by-link {
  display: inline-block;
  width: 45px;
  height: 16px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

#algolia-selectors {
  margin: 0 0 em(20);

  @include clearfix();

  #algolia-stats {
    line-height: 36px;
    float: left;
    font-size: 12px;
    color:#55606e;
  }

  #algolia-sort-by {
    float: right;
  }
  
  @media (max-width:420px) {

    button,select {
      font-size: 14px;
    }
  }
}

