.algolia-search_page_algolia-woocommerce {

	#wpcontent {

		padding-left: 0;
	}

	.notice, div.error, div.updated {
		margin:0;
		border-bottom:1px solid rgba(0,0,0,0.1);
	}
}
  
@include component('wrap') {
	position: relative;
}

@include component('sidebar') {
	left:0;
	width:$sidebar-width;
	height:100%;
	position: absolute;
	background-color: $sidebar-color;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	z-index: 10;

	@include component('sidebar', 'brand') {			
		padding:	em(20) em(15) em(15) em(15);
		text-align: center;

		span{
			color: #96588a;
	    font-size: 12px;
	    font-weight: 600;
	    position: absolute;
	    width: 100%;
	    text-align: left;
	    left: 49%;
	    top: 72%;
		}

		@include component('sidebar','brandwrapper'){
			position: relative;
		}

		img {
			width:70%;
		}			
	}

	@include component('sidebar', 'list') {
		margin: 0;
		padding-left: 0;
		list-style-type: none;
		border-top: 1px solid $sidebar-border;
		border-bottom: 1px solid $sidebar-border;

		@include component('sidebar', 'link') { 
			color: rgba(255,255,255,.7);
			position: relative;
			margin-bottom: 0;

			&:hover {
				color: rgba(255,255,255,1);
			}

			a:focus {
				outline: none;
			}

			&:not(:last-child) {
				border-bottom: 1px solid $sidebar-border;
			}
		}

		@include component('sidebar', 'state') {
			position: absolute;
			right: em(42);
			font-size: 10px;
			top:50%;
			transform:translateY(-50%);
			font-weight: 600;
			color: $red;
			
			&:after{
				right:-12px;
				top:5px;
				width:8px;
				height: 8px;
				content:"";
				position: absolute;
				border-radius: 100%; 
				background-color: $red;
			}
		}

		@include component('sidebar', 'state', 'set') {
			color:$green;

			&:after {
				background-color: $green;
			}
		}

		@include component('sidebar', 'link', 'active') {
			color: rgba(255,255,255,1);
		}

		a {
			display: block;
			color: inherit;
			font-size: 16px;
			text-decoration: none;
			padding: em(24) em(15) em(24) em(20);
		}
	}
}

@include component('button') {
	font-size:14px;
	border:none;
	font-weight: 600;
	color:white;
	border-radius:3px;
	padding: em(18,14) em(45,14);
	cursor:pointer;

	&:focus {
		outline: none;
	}

	&--small {
		padding: em(13) em(30);
		font-size: 14px;
	}

	&--green {
		background-color: $green;
	}
}

@include component('main') {
	color:$font-dark;
	position: relative;

	@include component('main', 'wrap') {
		background-color: #FFF;
		padding: em(60) em(25) em(335) em(335);
	}

	@include component('main', 'section') {
		&--pages {
			text-align: center;

			.alg-main__header {
	  		p {
					margin-bottom: em(70);
				}
	  	}

			.alg-main__container{
				margin-bottom: em(67);
			}
		}
		&--zoning {

			.alg-main__header {
				p{
					margin: 0;
				}
				.alg-button--green {
					margin:em(39) 0;
				}
			}
		}
	}
}

@include component('main','chrome') {
	margin-top: em(25);
	box-shadow: 0 10px 20px rgba(24, 29, 43, 0.18);
	position: relative;
	overflow:hidden;

	@include component('main','chromeimage') {
		width:100%;
	}

	@include component('main','iframe') {
		width:100%;
		height:auto;
		border:none;
		position: absolute;
		top:82px;
		height:100%;
	}
}
	
@include component('main','header') {
	text-align: center;

	h1{
		font-weight:300;
		font-size: 36px;
		margin-top: 0;
		line-height: em(45,36);

		& + p {
			color:$font-light;
			font-size:18px;
			font-weight: 400;
		}
	}
}

@include component('main','container') {
	max-width: 1200px;
	margin:0 auto;

	&:after {
		content:"";
    display:block;
    clear:both;
  }
}

@include component('main','container','pages') {
	text-align: center;	

	@supports(display:flex) {
		display: flex;
		justify-content: space-between;
	}

	@supports not(display:flex) {
		display: table;
	}
}

@include component('pageselect', 'gutter'){
	display:inherit;
	width:8%; 

	@supports not(display:flex){
		display:table-cell;
	}
}

@include component('pageselect') {
	width: 30%;
	padding: em(43) em(47);
	box-shadow: 0 10px 20px rgba(24, 29, 43, 0.18);
	text-align: center;
	border-radius:3px;
	overflow:hidden;
	position: relative;

	@supports not(display:flex) {
		display: table-cell;
	}

	&:before {
		width:100%;
		height: 5px;
		position: absolute;
		top:0;
		left: 0;
		content:"";
	}

	@media (min-width:$bp-medium){
		width: 50%;
		
		&:nth-child(2) {
		}
	}

	@include component('pageselect', 'icon' ) {
		width: 50%;
	}

	svg {
		transform: translateY(2px);
		margin-right: 2px;

		.checkmark__mark {
			opacity: 0;
		}

	}

	&--red {

		input[type="checkbox"] {
			color:$red;

			&:checked + label {
				background-color: $red;
				color:white;

				.checkmark__mark {
					opacity: 1;
				}
			}
		}

		label {
			border-color: $red;
			color: $red;
		}

		&:before{
			background-color: $red;
		}
	}

	&--blue {

		input[type="checkbox"] {
			color:$blue;

			&:checked + label {
				color:white;
				background-color: $blue;

				.checkmark__mark {
					opacity: 1;
				}
			}
		}

		label {
			color:$blue;
			border-color: $blue;
		}

		&:before{
			background-color: $blue;
		}
	}

	&--purple {

		input[type="checkbox"] {
			color:$purple;

			&:checked + label {
				color:white;
				background-color: $purple;

				.checkmark__mark {
					opacity: 1;
				}
			}
		}

		label {
			color:$purple;
			border-color: $purple;
		}

		&:before {
			background-color: $purple;
		}
	}

	h2 {
		font-size: 24px;
		line-height: em(30,24);
		font-weight: 300;
	}

	p {
		font-size: 14px;
		line-height: em(25,14);
		color:$font-light;
		padding-bottom: em(75,14);
		margin: 1em 0 0 0;
	}
	@include component('pageselect','content') {
		
	}

	@include component('pageselect','button') {
		position: absolute;
		bottom:em(47);
		left: 0;
		width:100%;
	}

	input[type="checkbox"] {
		display: none;
	}

	label {
		background-color: transparent;
		border-width: 1px;
		border-style:solid;
		padding: em(18,14) em(30,14);
		font-weight: 600;
		font-size: 14px;
		border-radius:3px;
		display: inline-block;
		cursor: pointer;
		transition: .2s;
	}
}

@include component('main','container','zoning') {
	
	@include component('zoning', 'container') {
		position: relative;
		z-index: 10;
	}

	@include component('zoning', 'zoningtooltip') {
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
		cursor:pointer;

		path {
			fill: rgba(0,0,0,.4);
		}

		svg:hover + .alg-zoning__tip{
			opacity:1;
			transform:translate(0,10px);
		}
	}

	@include component('zoning','tip') {
		padding: em(15) em(15);
		font-size: 16px;
		color:white;
		background-color: #999999;
		border-radius:4px;
		width:200px;
		position: absolute;
		top:100%;
		right:-5px;
		transform:translate(0,30px);
		opacity: 0;
		transition: .25s;

		&:hover{
			opacity: 1;
			transform: translate(0,10px);
		}

		&:before{
			width:20px;
			height:20px;
			right:5px;
			top:-19px;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #999999; 
			content:"";
			position: absolute;
		}

		p {
			font-size: inherit;
			margin:0;
		}
	}

	@include component('zoninginput') {
		width:100%;
		color: $font-input;
		font-size: 14px;
		font-weight: 600;
		padding: em(15,14);
		border:1px solid #c4c4c4;

		&:focus {
			outline:none;
		}
	}
}

@include component('resultscontainer') {
	max-width:530px;
	margin:0 auto;
	text-align: center;

	@include component('hit') {
		
		&.forcehover {

			@include component('hit', 'ribbon') {
				opacity:0;
			}

			@include component('hit', 'overlay') {
				opacity: 1;
				pointer-events: auto;

				a {
					opacity:1;
					transform:translateY(0);
				}
			}
		}

		&.nohover {
			@include component('hit', 'ribbon') {
				opacity:1;
			}
		}
	}

	@include component('hitwrapper'){	
		width:46%;
		float: left;

		&:first-child{
			margin-right: 8%;
		}

		&:nth-child(2){
			.alg-hit {
				box-shadow: 0 6px 20px rgba(24, 29, 43, 0.3);
			}
		}

		@include component('hitwrapper', 'result'){
			color: $font-light;
			font-size: 12px;
			font-weight: 400;
			text-align: left; 
		}
	}

	@include component('comparison') {
		&:after {
			content:"";
    	display:block;
    	clear:both;
  	}
	}

	@include component('resultcolors') {
		margin: em(42) 0 em(57) 0;

		&:after{
			content:"";
    	display:block;
    	clear:both;
		}

		input[type="text"].wp-color-picker {
			font-size: 14px;
			font-weight: 600;
			width: 100%;
			padding: em(10.4) em(30);
			color: #7b7b7b;
			float: left;
			background-color: #FFF;

			&:focus{
				outline:none;
			}
		}
		
		// Force display none to prevent flashing
		input[type="text"].wp-color-picker,
		input[type="button"].wp-picker-default {
			display: none !important;
		}

		button {
			color:white;
			background-color: #5c5c5c;
			border:none;
			float: right;
			border-radius:3px; 
			font-weight: 600;

			&:focus {
				outline:none;
			}
		}

		.wp-picker-container{
			display: block;
			position: relative;

			.wp-picker-input-wrap{
				position: absolute;
			}

			.wp-picker-holder {
				position: absolute;
				left: 0;
				top: 35px;
				opacity:0;
				transform:translateY(15px);
				transition: .25s;
			}

			&.wp-picker-active {

				.wp-picker-holder {
					opacity:1;
					transform: translateY(0);
				}
			}

			.wp-color-result {
				padding-left:40px;
				box-shadow:none;
				border-radius: 0;
				height:auto;
				margin:0;
				border:none;
				display: block;
				border: 1px solid #c4c4c4;

				&:after{
					padding: em(10) em(15);
					border-radius:0;
					font-size: 14px;
					background-color: #FFF;
					border:none;
					text-align: left; 
				}
			}
		}
	}
}	




//---------------------------
// 	Hit styling
//---------------------------
